@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        background: #F1F1F1;
}

.sty {
        width:90%;
        
}

.input-color {
        background-color: var(--color);
        border-color: white;
      }
      
      .checkmark-color {
        background-color: var(--color);
        border-color: white;
        border-width: 1px;
        border-style: solid;
      }
      


  